{

    display: none;
}

@media (max-width: 663px) {
    hr.hors-sec{
        display: none;
    }
}


/*************************
          HOME
 *************************/

#home .head{
    width: 100%;
    height: 461px;
    background: linear-gradient( rgb(2 5 14 / 40%), rgb(2 14 60 / 60%) ), url(../assets/background.png);
    background-color: blue;
    border-bottom-left-radius: 30% 10%;
    border-bottom-right-radius: 30% 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}


#home .head .centertext{

    position: absolute;
    width: 70%;
    margin-top: 105px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    text-shadow: 1px 4px 10px black;
}

#home .head .centertext h1{
    font-size: 54px;
    font-weight: 900;
    color: white;
    margin: 22px auto;
    max-width: 1232px;
}

#home .head .centertext h3{
    color: white;
    font-size: 24px;
}
#home .head .centertext h3 a{
    color: white;
}

#home .head .centertext h3 a:hover{
    color: white;
}

@media (max-width: 887px){
    #home .head{
        background-size: unset;
    }
    #home .head .centertext{
        width: 100%;
        margin-left: unset;
        margin-right: unset;
    }
}
@media (max-width: 626px){
    #home .head .centertext{
        margin-top: 41px;
    }
}

@media (max-width: 499px){
    #home .head .centertext h1{
        font-size: 43px;
    }
}

@media (max-width: 373px){
    #home .head .centertext{
        margin-top: 14px;
    }
}



/*************************
          BULL
 *************************/
@media (max-width: 991px){
    #bull .container{
        max-width: unset;
        margin-left: unset;
        margin-right: unset;
        width: unset;
        padding-left: unset;
        padding-right: unset;
    }
}


#bull div.row{
    margin-top: 27px;
    margin-left: 0px;
    margin-right: 0px;

    text-align: center;
}

#bull .col-4{
    margin: 19px 0;
    padding: 0px 54px;
}

@media(max-width: 961px){
    #bull .col-4{
        padding: 0px 15px;
    }
}
@media(max-width: 720px){
    #bull .col-4{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width: 495px){
    #bull .col-4{
        -ms-flex: unset;
        flex: unset;
        max-width: unset;
        margin: 0px 0;
        padding: 0px 15px;
    }
}




#bull h3{
    margin-bottom: 17px;
}

#bull i{
    font-size: 24px;
    color: var(--color-principal);
}

#bull .col-4:nth-child(2n) i {
    color: var(--color-secondaire);
}

/*************************
          OFFRE
 *************************/
#offre #ord2{
    display: none;
}

#offre .desktop{
    max-width: 1474px;
    margin: 5% auto;
}
#offre .mobile{
    display: none;
}
@media (max-width: 1664px) {
    #offre .desktop{
        max-width: unset;
        margin: 5%;
    }
}

@media (max-width: 1552px) {
    #offre .desktop{
        max-width: unset;
        margin: 5% 0;
    }
}
@media (max-width: 1424px) {
    #offre .desktop{
        display: none;
    }
    #offre .mobile{
        display: flex;
        margin-right: unset;
        margin-left: unset;
        margin-top: 5%;
    }

}
@media (max-width: 505px) {
    #offre .desktop{
        display: none;
    }
    #offre #ord2{
        display: initial;
    }
    #offre .mobile{
        display: none;
    }
}

#offre .mobile .container{
    height: 200px;
    box-shadow: 0 0 16px rgb(0 0 0 / 10%);
    border-radius: 6px;
    border: solid 1px #e8e8e8;
    background-color: white;
}
#offre .mobile .col-6 {
    margin: 1% auto;
    min-width: 500px;
}

#offre .mobile .container .col-7{
    margin-top: 13px;
}

#offre .mobile .container .col-7 ul{
    font-size: 14px;
    margin: 0;
}



#offre .row .col .container{

    height: 362px;


    box-shadow: 0 0 16px rgb(0 0 0 / 10%);
    border-radius: 6px;

    border: solid 1px #e8e8e8;
    background-color: white;

    transition: transform 0.3s ease-in;

    position: relative;
    max-width: 245px;
    min-width: 245px;

}

#offre h2{

    text-align: center;
    font-size: 28px;
    margin-top: 23px;
    margin-bottom: -2px;
    text-transform: uppercase;

}

#offre h3{
    font-size: 21px;
    color: var(--color-principal);
    text-align: center;
    margin-bottom: 23px;

}

#offre g{
    color: #959191;
    text-align: center;
    font-size: 16px;

}
#offre h3::first-letter {
    text-transform: uppercase;
}


#offre ul{
    margin: 0 0 0 18px;
    font-size: 12px;
    font-weight: 300;
}

#offre li{
    list-style: url(../assets/check.png);
}

#offre li j{
    font-weight: 700;
    color: var(--color-secondaire);
}

#offre .tyrobutton{
    position: absolute;
    bottom: 20px;
    margin-left: 2%;
    width: 80%;
    /* margin-left: 15%; */
    /* margin: 0 auto 0 auto; */
    font-size: 11px;
    text-transform: uppercase;
    transition: transform 0s ease-in;
}


/*TRANSFORM*/

.trans[data-size="3"] {
    -webkit-transform:scale(1.15); /* Safari et Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* Internet Explorer 9 */
    -o-transform:scale(1.15); /* Opera */
    transform:scale(1.15);
}
.trans[data-size="2D"] {
    -webkit-transform:scale(1.10); /* Safari et Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* Internet Explorer 9 */
    -o-transform:scale(1.10); /* Opera */
    transform: scale(1.10)translate(6px, 0px);
}
.trans[data-size="2G"] {
    -webkit-transform:scale(1.10); /* Safari et Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* Internet Explorer 9 */
    -o-transform:scale(1.10); /* Opera */
    transform: scale(1.10)translate(-6px, 0px);
}
.trans[data-size="1"] {
    -webkit-transform:unset; /* Safari et Chrome */
    -moz-transform:unset; /* Firefox */
    -ms-transform:unset; /* Internet Explorer 9 */
    -o-transform:unset; /* Opera */
    transform:unset;
}

@media (max-width: 506px) {
    .trans[data-size="3"] {
        -webkit-transform:unset; /* Safari et Chrome */
        -moz-transform:unset; /* Firefox */
        -ms-transform:unset; /* Internet Explorer 9 */
        -o-transform:unset; /* Opera */
        transform:unset;
    }
    .trans[data-size="2D"] {
        -webkit-transform:unset; /* Safari et Chrome */
        -moz-transform:unset; /* Firefox */
        -ms-transform:unset; /* Internet Explorer 9 */
        -o-transform:unset; /* Opera */
        transform:unset;
    }
    .trans[data-size="2G"] {
        -webkit-transform:unset; /* Safari et Chrome */
        -moz-transform:unset; /* Firefox */
        -ms-transform:unset; /* Internet Explorer 9 */
        -o-transform:unset; /* Opera */
        transform:unset;
    }
    .trans[data-size="1"] {
        -webkit-transform:unset; /* Safari et Chrome */
        -moz-transform:unset; /* Firefox */
        -ms-transform:unset; /* Internet Explorer 9 */
        -o-transform:unset; /* Opera */
        transform:unset;
    }

    #offre .row .col .container{
        margin: 10px auto;
    }

}

/*************************
          support
 *************************/
#support{
    margin: 65px 0 20px;
}

#support .row .col-6 img{
    width: 110%
}

#support .row .col-6:last-child{
    padding-top: 20px;
}

#support .row .col-6 h2{
    text-align: center;
    color: var(--color-principal);
    font-size: 28px;
    margin: 23px;
}

#support li{
    list-style: initial;
}

#support .row .col-6 p{
    font-size: 18px;
    font-weight: 300;
}

@media (max-width: 991px) {
    #support .row .col-6{
        -ms-flex:unset;
        flex: unset;
        max-width: unset;
    }
    #support .col-6:last-child {
        padding-left: 15px;
    }
}

@media (max-width: 458px) {
    #support .row .col-6 img {
        width: 100%;
    }
}

/*************************
          reseaux
 *************************/

#reseau .back-border{
    background-color: var(--color-background);
}

#reseau .up-border{
    width: 100%;
    position: relative;
    height: 5vw;
    background: white;
    border-bottom-left-radius: 100% 200%;
    border-bottom-right-radius: 100% 200%;
}

#reseau .contenu{
    background-color: var(--color-background);
    padding: 1px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

#reseau .contenu h2{
    font-size: 26px;
    margin: 5%;
}

#reseau .contenu h3{
    font-size: 20px;
    margin-bottom: 15px;
}

#reseau .contenu p{
    margin: 26px 0 22px;
    padding: 0 34px;
}

#reseau i{
    color: var(--color-secondaire);
}

#reseau #btn-reseau{

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: var(--color-secondaire);
    box-shadow: unset;
    font-size: 11px;
    margin-bottom: 45px;

}
@media (max-width: 814px) {
    #reseau .col-4{
        -ms-flex:unset;
        flex: unset;
        max-width: unset;
    }

}

/*************************
          engament
 *************************/

#eng{
    margin: 75px 0;
}

#eng .row .col-6 img{
    width: 110%;
    margin-top: -45px;
    margin-left: -10px;

}
#eng .col-6:first-child{
    padding-left: 45px;
}

#eng .row .col-6:last-child{
    padding-top: 20px;
}

#eng .row .col-6 h2{
    text-align: center;
    color: var(--color-principal);
    font-size: 28px;
    margin: 23px;
}

#eng li{
    list-style: initial;
}

#eng .row .col-6 p{
    font-size: 18px;
    font-weight: 300;
}

@media (max-width: 991px) {
    #eng .row .col-6{
        -ms-flex:unset;
        flex: unset;
        max-width: unset;
    }
    #eng .col-6:first-child {
        padding-left: 15px;
    }
}