/*************************
          START
 *************************/
#suppo #start .ac-head{
    width: 100%;
    height: 246px;
    background: linear-gradient( rgb(2 5 14 / 40%), rgb(2 14 60 / 60%) ), url(../assets/support.jpg);
    background-color: blue;
    border-bottom-left-radius: 30% 10%;
    border-bottom-right-radius: 30% 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
@media (max-width: 404px) {
    #suppo #start .ac-head{
        background-size: 115%;
    }

}


#suppo #start .ac-centertext{
    position: absolute;
    width: 70%;
    margin-top: 66px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    text-shadow: 1px 4px 10px black;
}

#suppo #start .ac-head .ac-centertext h1 {
    font-size: 54px;
    font-weight: 900;
    color: white;
    margin: 22px 0;
}


/*************************
          title
 *************************/

#suppo #title{

    text-align: center;
    margin: 38px;
}

#suppo #title h2{
    color: var(--color-principal);
    margin-bottom: 1rem;

}
#suppo #title p{
    margin-bottom: 0;
}
#suppo #title li{
    list-style-type: none;
}

/*************************
          discord
 *************************/

#suppo iframe{
    width: 80%;
    margin: 0px 10%;
    margin-bottom: 30px;
}